<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aidor.projects.seccharge" >

    <permission
        android:name="com.aidor.projects.seccharge.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="com.aidor.projects.seccharge.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.aidor.secchargemobile.custom.SecCharge"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SecCharge" >

        <!-- android:theme="@style/AppTheme" -->

        <activity
            android:name="com.aidor.secchargemobile.seccharge.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.aidor.secchargemobile.seccharge.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.aidor.secchargemobile.seccharge.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge" />
        <activity
            android:name="com.aidor.secchargemobile.seccharge.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.aidor.secchargemobile.seccharge.AfterForgetPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge" />
        <activity
            android:name="com.aidor.secchargemobile.seccharge.BeforeLoginMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge" />
        <activity
            android:name="com.aidor.secchargemobile.seccharge.DetailInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge" />
        <activity
            android:name="com.aidor.secchargemobile.seccharge.TripPlanerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUhjSu9sZjOdYJAgDqrN4HoZUG5KoJXm8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.aidor.secchargemobile.seccharge.ReserveMainActivity"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SecCharge" >
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.HomeActivity" />
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.AccountActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.AccountActivity" />
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.MyEvActivity"
            android:label="@string/title_activity_my_ev"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.AccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.AccountActivity" />
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.AddVehicleActivity"
            android:label="@string/title_activity_add_vehicle"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.AccountActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.AccountActivity" />
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.SocActivity"
            android:label="@string/title_activity_soc"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.AccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.AccountActivity" />
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.ReserveSummaryActivity"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.ReserveMainActivity" >
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.PaymentInfoActivity"
            android:label="@string/title_activity_payment_info"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.ReserveSummaryActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.ReserveSummaryActivity" />
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.MyReservationsActivity"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.HomeActivity" />
            >
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.ReservationHistoryActivity"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.HomeActivity" />
            >
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.ChargingStationActivity"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.HomeActivity" />
            >
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.BatteryStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aidor.secchargemobile.services.NotificationActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.aidor.secchargemobile.services.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="com.aidor.secchargemobile.services.NotificationEventReceiver" />
        <receiver android:name="com.aidor.secchargemobile.services.NotificationServiceStarterReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.aidor.secchargemobile.seccharge.ReservationEditDeleteActivity"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.MyReservationsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.MyReservationsActivity" />
            >
        </activity>
        <activity android:name="com.aidor.secchargemobile.seccharge.NoInternetActivity" >
        </activity>
        <activity
            android:name="com.aidor.secchargemobile.seccharge.ChargeNowActivity"
            android:label="@string/title_activity_charge_now"
            android:parentActivityName="com.aidor.secchargemobile.seccharge.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aidor.secchargemobile.seccharge.HomeActivity" />
        </activity>
    </application>

</manifest>
